<div class="actions-button-row">
    <button mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
      Save build
    </button>
    <button mat-raised-button color="primary" (click)="openSnackBar()">
        <mat-icon>share</mat-icon>
      Get build link
    </button>
  </div>

  <br>

<p class="label-grid">Weapons</p>

<mat-grid-list cols="2" rowHeight="10rem">
    <mat-grid-tile>Specialization</mat-grid-tile>
    <mat-grid-tile>Sidearm</mat-grid-tile>
    <mat-grid-tile>Primary</mat-grid-tile>
    <mat-grid-tile>Secondary</mat-grid-tile>  
  </mat-grid-list>

<div class="d2divider"></div>

<p class="label-grid">Gear</p>

<mat-grid-list cols="2" rowHeight="10rem">
    <mat-grid-tile>Mask</mat-grid-tile>
    <mat-grid-tile>Backpack</mat-grid-tile>
    <mat-grid-tile>Armor</mat-grid-tile>
    <mat-grid-tile>Gloves</mat-grid-tile>
    <mat-grid-tile>Ear</mat-grid-tile>
    <mat-grid-tile>Kneepads</mat-grid-tile>
  </mat-grid-list>

  <div class="d2divider"></div>

<p class="label-grid">Skills</p>

<mat-grid-list cols="2" rowHeight="10rem">
    <mat-grid-tile>Primary Skill</mat-grid-tile>
    <mat-grid-tile>Secondary Skill</mat-grid-tile>
  </mat-grid-list>

  <br>