mat-grid-tile {
    background: lightblue;
  }


.mat-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-grid {
    color: white;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.d2divider {
    background-color: #8F8F8F;
    width: 100%;
    margin-top: 20px;
    height: 1px;
}

.actions-button-row button,
.actions-button-row a {
  margin-right: 8px;
}

.grid-left {
  float: left;
  width: 35%;
}

.grid-right {
  float: right;
  width: 64%;
  padding-left: 1%;
}

.build_link_form {
  width: 400px;
}

.slot-image {
  width: 100%;
  height: 100%;
}

.slot-button {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.spec-button {
  line-height: 6rem;
  width: 7.3rem;
}

mat-expansion-panel-header {
  background-color: #2F2F2F;
  }

mat-expansion-panel {
  background-color: #2F2F2F;
  }