<mat-toolbar color="primary" class="header">
  <span>
    <button mat-button routerLink="/">
      <img src="../assets/images//blinssen-icon.png" class="icon">
    </button>
  </span>
  <span class="fill-space"></span>
  <span>
      <button mat-flat-button color="primary" routerLink="/division/builds">
        <mat-icon>apps</mat-icon>
        SAVED BUILDS
      </button>
    <button mat-flat-button color="primary" routerLink="/division/build-editor">
        <mat-icon>memory</mat-icon>
        BUILD EDITOR
      </button>
      
    <!-- <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>apps</mat-icon>
      DIVISION 2
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/division/build-editor">BUILD EDITOR</button>
      <button mat-menu-item routerLink="/division/build-editor">BRAND TOOL</button>
    </mat-menu>
    <button mat-flat-button color="primary">
      <mat-icon>cloud</mat-icon>
      Marb
    </button> -->
  </span>
</mat-toolbar>

<div class="page">
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
