mat-expansion-panel-header {
    background-color: #4F4F4F;
}
  
mat-expansion-panel {
    background-color: #4F4F4F;
}

.label-grid {
    color: white;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

