<mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <p class="label-grid">Gear Talents</p>
        </mat-panel-title>
      </mat-expansion-panel-header>    
      Gear Talents
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <p class="label-grid">Weapon Talents</p>
          </mat-panel-title>
        </mat-expansion-panel-header>          
        Weapon Talents           
      </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <p class="label-grid">Weapons</p>
          </mat-panel-title>
        </mat-expansion-panel-header>    
        <app-weapon-stats></app-weapon-stats>
      </mat-expansion-panel>
  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <p class="label-grid">Offense</p>
          </mat-panel-title>
        </mat-expansion-panel-header>          
        <app-offense-stats></app-offense-stats>  
      </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <p class="label-grid">Defense</p>
          </mat-panel-title>
        </mat-expansion-panel-header>    
        <app-defense-stats></app-defense-stats>
      </mat-expansion-panel>
  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <p class="label-grid">Skills</p>
          </mat-panel-title>
        </mat-expansion-panel-header>          
        <app-skills-stats></app-skills-stats>       
      </mat-expansion-panel>
  </mat-accordion> 