table {
    width: 100%;
  }
  

  mat-expansion-panel-header {
    background-color: #2F2F2F;
    }
  
  mat-expansion-panel {
    background-color: #2F2F2F;
    }

    .label-grid {
      color: black;
      font-weight: bolder;
      font-family: 'Montserrat', sans-serif;
  }